# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
eggs/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Docker
*.db
*.docker/
docker-compose.override.yml

# VS Code
.vscode/

# IDEs
.idea/

# Python virtualenv
venv/
env/
.venv/
.env/

bruno_mini_twitter