DEBUG=True
SECRET_KEY='sua_chave_secreta_aqui'

# Configuração do banco de dados
DB_NAME='nome_do_banco'
DB_USER='usuario_do_banco'
DB_PASSWORD='senha_do_banco'
DB_HOST='db'
DB_PORT='5432'


POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}

ALLOWED_HOSTS=localhost,127.0.0.1

# Configurações de rate limit
SIGNUP_LIMIT_PER_HOUR=5
LOGIN_LIMIT_PER_HOUR=5

# Redis (para cache e celery)
REDIS_URL=redis://redis:6379/0

# Email
EMAIL_HOST=local
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_PORT=587


# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_DAYS=1